<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>
      <br>
      <img height="150" src="https://media.giphy.com/media/2vWAcpyDd7T5S/giphy.gif" />
      <br>
      <a class="button" href="https://discordapp.com/api/oauth2/authorize?client_id=370035769554763799&permissions=182336&scope=bot">Click here to invite me OWO</a>
    </div>
  </body>
</html>